.overlay {
    background-color: rgba(0, 0, 0, 0.724);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  
  .modelContainer {
    position: fixed;
    top: 9rem;
    left: 9rem;
    width: 1230px;
    height: 500px;
    box-shadow:  3px 3px 20px 0px #ff8026 ;
    border-radius: 15px;
  }
  .closeBtn {
    float: right;
    margin-right: 1rem;
    
  }
  .mainContentContainer{
    background: transparent;
    margin : 10px 20px 4px 20px;
    text-align: left;
    /* font-weight: normal; */

  }
  .instituteName{
    margin : 0px 20px 4px 20px;
    background: transparent;
    font : xx-large;
    text-align: center;
    border-bottom:solid #6761619d 4px;
  }
  .noticeHeading{
    background: transparent;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
  }
.date{
    background: transparent;
    font : xx-large;
}
.subject{
    background: transparent;
    font : xx-large;
}
.body{
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    font-size: large;
    font-weight: normal;
    
}
.issuerName{
  
}