.content{
    height: 65vh;
    width:55%;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow:  3px 3px 16px 0px rgba(31, 31, 31, 0.422);
    border-radius: 5px;
    float: right;
    color: #6437a0;
    font-weight: bolder;
    font-size: 50px;
    padding: 5rem;
    background-color: #ffffff80;
}