.navbar{
    height: 18vh;
    
}

.leftnav{
    float: left;
}
.rightnav{
    float: right;
    margin-top: 4rem;
}
h1{
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 50px;
    color: #000000;
    background-color: transparent;
}
h2{
    margin-left: 5rem;
    color: #6a6767;
    background-color: transparent;
}
h5{
    margin-right: 5rem;
    color: rgb(151, 140, 140);
}
img{
    width: 35px;
}